<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Uploaded Successfully</title>
<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
</head>
<body>
  <div th:replace="components/nav.html :: navbar"></div>
  <h1 class="text-center">Uploaded Data successfully</h1>
  <form action="/" >
  <button type="submit" class="btn btn-primary btn-lg">Return to Home</button>
  </form>
</body>
</html>